.tag{
    font-weight: 15px;
    font-weight: 500;
    background-color: #f9f9f9;
    border: 1px sloid #dfe3e6;
    border-radius: 5px;
    padding: 2px 10px;
    margin-right: 10px;
    cursor: pointer;
}
